html, body{
	overflow-x: hidden;
}

body{
	background: $black;
	font-family: 'Fanwood Text', serif;
	max-width: 100%;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Quattrocento Sans', sans-serif;
	font-weight: 200;
}

a{
	text-decoration: none;
	color: #fff;
}

hr{
	border: 1px solid #444;
}

