/*body{
	background: #ccc;
}*/

.o-banner{
	/*background: url('/assets/images/dark.jpg') no-repeat 0 0;
    background-size: 100%;
    background-position: 0 -100vh;*/
    /*background: blue;*/
	width: 100%;
	height: 100vh;
    position: relative;
    z-index: 250;
    /*background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background: url('/assets/images/nice.jpg') no-repeat 0 0;
    background-size: 100%;*/

	&__img{
	position: absolute;
    width: 105%;
    left: 0;	
    margin: -5%;
    padding: 0;
    height: 110%;
    /*top: -5%;*/
	/*opacity: 0.4;*/
    z-index: 1;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background: url('/assets/images/dark.jpg') no-repeat 0 0;

    background-size: 100%;
    transform: translate3d(0, 0, 0);	
    text-align: center;
    /*padding-top: 300px;*/
    
	}

    &__front{
        text-align: center;
        font-size: 200px;
        line-height: 200px;
        color: #fff;
        z-index: 400;
        position: absolute;
        width: 100%;    
        margin-top: 50%;
        transform: translateY(-60%);
        height: 100%;
        /*background: blue;*/
    }
}