.portfolio{
	min-height: 100vh;
	background: url('/assets/images/dark.jpg') no-repeat 0 0;
	background: $black;
  background-size: 100%;
  position: relative;
  z-index: 300;
  text-align: center;
  color: #fff;
}

.row{
	width: 100%;
	height: auto;
	padding: 15px 0;
}

.box{
	width: 90%;
	
	margin: 10px auto;
	box-sizing: border-box;

	&:hover{
			transform: scale(1.01);
		}

	img{
		width: 100%;
		height: auto;


		
	}

	@mixin atSmall{
		width: 40%;
		display: inline-block;
	}

	@mixin atMedium{
		width: 100%;
		display: block;
	}
}

.text{
	width: 90%;
	margin: 10px auto;
	box-sizing: border-box;

	@mixin atSmall{
		width: 40%;
		display: inline-block;
		float: right;
		margin-right: 6%;
		text-align: left;
	}

	@mixin atMedium{
		width: 100%;
		float: none;
		padding: 0 5px;
		min-height: 125px;
		display: flex;
	}

	@mixin atIpad{
		height: 125px;
		float: left;
	}
}

.site{
	@mixin atMedium{
		width: 25%;
		margin: 20px 3% 0;
		display: inline-block;
		min-height: 318px;
	}

	@mixin atIpad{
		height: 318px;	
	}
}


a .fa{
	color: #fff;
	font-size: 2rem;
	position: absolute;
	right: 0;
	left: 0;
	top: 50%;
	z-index: 500;
}

hr.divide{
	@mixin atSmall{
		width: 85%;
	}

	@mixin atMedium{
		display: none;
	}
	
}