.portfolio{
	min-height: 100vh;
	background: url('/assets/images/dark.jpg') no-repeat 0 0;
	background: $black;
  background-size: 100%;
  position: relative;
  z-index: 300;
  text-align: center;
  color: #fff;
}

.row{
	width: 100%;
	height: auto;
	/*background: blue;*/
	padding: 15px 0;
}

.box{
	width: 90%;
	
	margin: 10px auto;
	box-sizing: border-box;
	/*background: red;*/


	&:hover{
			transform: scale(1.01);
		}

	img{
		width: 100%;
		height: auto;

		
	}

	@mixin atSmall{
		width: 40%;
		display: inline-block;
		/*background: green;*/
	}

	@mixin atMedium{
		width: 100%;
		display: block;
		/*min-height: 300px;*/
	}
}

.text{
	width: 90%;
	margin: 10px auto;
	box-sizing: border-box;
	/*text-align: left;*/	

	@mixin atSmall{
		width: 40%;
		display: inline-block;
		/*background: green;*/
		float: right;
		margin-right: 6%;
		text-align: left;
	}

	@mixin atMedium{
		width: 100%;
		float: none;
		/*background: green;*/
		padding: 0 5px;
		/*display: block;*/
		/*min-height: 200px;*/
		display: flex;
	}
}

.site{
	@mixin atMedium{
		/*background: black;
		border: 1px solid white;*/
		width: 25%;
		margin: 20px 3%;
		display: inline-block;
		/*display: flex;*/
		/*background: blue;*/
	}
}


a .fa{
	color: #fff;
	font-size: 2rem;
	/*cursor: default;*/
	position: absolute;
	right: 0;
	left: 0;
	top: 50%;
	z-index: 500;
}