.social{
	height: 100vh;
	width: 100%;
	background: #ac4412;
	background: $black;
	position: relative;
	z-index: 400;
	color: #fff;
	font-weight: 200;
}

.social--inner{
	width: 90%;
	margin: 0 5%;
	/*background: blue;*/
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-60%) !important;

	h1{
		@mixin atSmall{
			margin-bottom: 50px;
		}
		
	}
}

.badge{
	display: inline-block;
	position: relative;
	width: 50px;
	height: 30px;
	margin: 20px;
	/*background: red;*/
	@mixin atSmall{
		width: 70px;
		height: 50px;
		margin: 30px 30px;
	}
	
}

.social--link.fa{
	position: absolute;
	top: 0;
	font-size: 40px;
/*	left: 0;
	right: 0;*/
	transition: all 0.3s ease-out;
	transform: scale(1);
	@mixin atSmall{
		font-size: 50px;
		/*margin: 20px 30px;*/
	}
	

	&:hover{
		transform: scale(1.2);
		cursor: pointer;
	}
}

.backUp{
	position: absolute;
	right: 0;
	left: 0;
	text-align: center;
	bottom: 80px;
}